html {
    font-family: 'Rubik';
}

@font-face {
    font-family: 'Rubik';
    src:
        url('/fonts/Rubik-Regular.woff2') format('woff2'),
        url('/fonts/Rubik-Regular.woff') format('woff'),
        url('/fonts/Rubik-Regular.ttf') format('ttf');

    font-display: swap
}